
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;

    position: relative;
    background:
        url("/static/login/images/login_bg.jpg") left center no-repeat fixed,
        #f5f5f5;
    background-size: auto 100%;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px; 
    height: 100%;
    background: linear-gradient(to right, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 40%);
    pointer-events: none; 
}

/* div {
  background: url("/static/login/images/login_bg.jpg") no-repeat;
  height: 500px;
  width: 500px;
  border: solid 1px #000;
  padding-left: 300px;
  box-sizing: border-box;
  box-shadow: inset -350px 0 100px 0 #FFF;
} */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    z-index: 1;
}

.top-title img {
    margin-right: 10px;
    width: 100px;
    height: auto;
}

.task {
    font-size: 70px;
    color: #165195
}

.it {
    font-size: 70px;
    color: #4c9ffd
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 450px;
    margin-right: 80px;
    z-index: 1;
}

h2 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="username"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-label {
    /* margin-top: 20px; */
    font-weight: bold;
}

/* input[type="password"] {
    margin-top: 20px;
} */

button {
    width: 100%;
    padding: 12px;
    background-color: #1a5edb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    color: #ffffff;
    background-color: #2575fc;
}

.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 2px;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
}

.forgot-password a {
    color: #4CAF50;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.field-error {
    color: red;
    font-size: 0.9em;
}

.global-messages li {
    color: red;
    margin-bottom: 5px;
    list-style: none;
}

.register_btn {
    display: flex;
    justify-content: center;
}

.create_btn {
    font-weight: bold;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: #555;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.social-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-buttons button {
    margin: 0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}

.google-signin img {
    width: 20px;
    height: 20px;
}

.github-signin img {
    width: 20px;
    height: 20px;
}

.social-buttons button:hover {
    color: #000000;
    background-color: #e4e4e4;
}

.login-toggle {
    padding: 10px;
    border-radius: 10px;
    background-color: #c6dcff;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.login-toggle button {
    margin-top: 0px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.login-toggle button:hover {
    color: #000000;
    background-color: #e4e4e4;
}

.login-toggle-btn {
    background-color: transparent;
    border-color: solid transparent;
    transition: all 0.2s;
}

.login-toggle-btn.active {
    background-color: white;
    border-color: #ccc;
}